<div class="row">
  <div class="col-md-4 p-2" *ngFor="let product of products">
    <div class="card card-photo" style="width: 20rem;" (click)="selectedCard(product._id)">
      <div class="card-header">
        Nombre: {{product.title}}
      </div>
      <img [src]="'http://localhost:3000/' + product.imagePath" class="car-img-top">
      <div class="card-body">
        <p>Precio: {{product.price}}</p>
        <p>Descripcion: {{product.description}}</p>
      </div>

    </div>
  </div>
</div>
  