<div class="row" *ngIf="!product_; else main_content">
    <h1>Cargando...</h1>
</div>
<ng-template #main_content>
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <img [src]="'http://localhost:3000/' + product_.imagePath" class="img-fluid">
            </div>
        </div>
        <div class="col-md-7">
            <div class="card">
                <form class="card-body" (submit)="updateProduct(title, price, description)">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Nombre del producto:" [value]="product_.title" #title>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Precio del producto:" [value]="product_.price" #price>
                    </div>
                    <div class="form-group">
                        <textarea rows="2" class="form-control" placeholder="Descripcion del producto:" [value]="product_.description" #description></textarea>
                    </div>
                    <button class="btn btn-primary btn-block">
                        Actualizar
                    </button>
                </form>
            </div>
        </div>
    </div>
    <button class="btn btn-danger" (click)="deleteProduct(product_._id)">
        Eliminar
    </button>
</ng-template>



