<div class="col-lg-4 mx-auto">
  <div class="card">
    <div class="card-header">
        Añadir un producto
    </div>
    <div class="card-body">
      <form (submit)="uploadProducto(title, price, description)"> <!--no le paso el title le paso el campo completo-->
        
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Nombre del producto" required #title>
        </div>     
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Precio del producto" required #price>
        </div>
        <div class="form-group">
          <textarea rows="2" class="form-control" placeholder="Descripción del producto" required #description></textarea>
        </div>

        <input type="file" class="d-none" (change)="onProductoSelected($event)" #productoInput> <!--enlazar esta imagen con este input-->
        <img [src]="productoSelected || 'assets/images/camera-icon.png'" class="img-fluid" alt="Imagen que sube el usuario" (click)="productoInput.click()"> <!--photoinput es la relacion -->
        <!--y productoSelected es del componente el atributo-->

        <button class="btn btn-primary btn-block">
          Añadir
        </button>
      </form>
    </div>
  </div>
</div>

<!--el evento es cuando yo cambio una imagen desde ese input, (change) es el evento-->
<!--cuando haga un click en el input oculto la imagen que se va a mostrar va a ser diferente-->
<!--cuando doy click en el boton se ejecuta el evento del formulario el evento es submit-->
